<h1>Editing Articles</h1>
 
<%= link_to 'Home', articles_path %>
<%= link_to 'Articles', controller: 'articles' %>
<%= link_to 'New Article', new_article_path %>
<%= render 'form' %>
<td><%= link_to 'Delete', article_path(@article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>